<!doctype html>
<html
  th:lang="|${#locale.language}-${#locale.country}|"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevBlog - Hoang Luong Tran's Personal Blog</title>

    <link
      rel="shortcut icon"
      th:href="@{/icons/favicon.ico}"
      type="image/x-icon"
    />

    <script>
      (function () {
        const savedTheme = localStorage.getItem("clientTheme");
        if (savedTheme === "dark") {
          document.documentElement.classList.add("dark");
        }
      })();
    </script>

    <link th:href="@{/css/application.css}" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body
    class="bg-light-bg-primary dark:bg-dark-bg-primary text-light-fg-primary dark:text-dark-fg-primary transition-colors duration-300"
  >
    <th:block th:replace="~{client/fragments/header :: header}"></th:block>

    <main>
      <th:block layout:fragment="content"></th:block>
    </main>

    <th:block th:replace="~{client/fragments/footer :: footer}"></th:block>

    <script th:src="@{/js/script.js}"></script>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
