<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{client/layout/main}"
>
  <head>
    <title>Articles - DevBlog</title>
  </head>

  <body>
    <div layout:fragment="content">
      <div
        th:replace="~{client/fragments/searchs :: searchHero(
        'Articles',
        'Explore posts on Backend, Spring Boot, System Design, and more.',
        '/articles/search',
        ${keyword}
      )}"
      ></div>

      <div
        class="bg-light-bg-secondary dark:bg-dark-bg-secondary transition-colors duration-300 py-12"
      >
        <div
          class="container mx-auto px-4 sm:px-8 lg:px-8 max-w-[1150px] lg:grid lg:grid-cols-[5fr_2fr] lg:gap-16"
        >
          <div class="blog">
            <div
              th:replace="~{client/fragments/searchs :: searchMeta(
              ${keyword},
              '/articles',
              ${currentCategorySlug},
              ${currentTagSlug},
              ${articles.totalElements},
              'All Articles'
            )}"
            ></div>

            <div class="blog-card-group mb-10">
              <th:block th:if="${articles.isEmpty()}">
                <div class="text-center py-20">
                  <ion-icon
                    name="document-text-outline"
                    class="text-5xl text-light-fg-tertiary dark:text-dark-fg-tertiary mb-4"
                  ></ion-icon>
                  <p
                    class="text-light-fg-secondary dark:text-dark-fg-secondary transition-colors duration-300 text-lg"
                  >
                    No articles found.
                  </p>
                  <a
                    href="/articles"
                    class="mt-6 inline-block px-5 py-2.5 bg-accent text-white rounded-full hover:opacity-90 transition-opacity"
                  >
                    Browse all articles
                  </a>
                </div>
              </th:block>

              <th:block th:each="article : ${articles}">
                <th:block
                  th:replace="~{client/fragments/cards :: card(
                  @{/articles/{s}(s=${article.articleSlug.asString()})},
                  ${article.imagePreview.asString()},
                  ${article.articleTitle.asString()},
                  ${article.category != null ? article.category.categoryName.asString() : null},
                  ${article.category != null ? '/articles/category/' + article.category.categorySlug.asString() : null},
                  ${article.publishedAt},
                  ${article.articleTitle.asString()},
                  ${article.articleSummary.asString()},
                  ${article.tags},
                  '/articles/tag/',
                  'Read more'
                )}"
                ></th:block>
              </th:block>
            </div>

            <div
              th:with="baseUrl=${currentCategorySlug != null}
                ? '/articles/category/' + ${currentCategorySlug.asString()}
                : ${currentTagSlug != null}
                  ? '/articles/tag/' + ${currentTagSlug.asString()}
                  : ${keyword != null and !#strings.isEmpty(keyword)}
                    ? '/articles/search?keyword=' + ${keyword}
                    : '/articles'"
              th:replace="~{client/fragments/paginations :: pagination(${articles}, ${baseUrl})}"
            ></div>
          </div>

          <th:block
            th:replace="~{client/fragments/sidebar :: sidebar}"
          ></th:block>
        </div>
      </div>
    </div>
  </body>
</html>
